<main>
  <div class="info-block">
    <mat-spinner *ngIf="!isDataInitialized"></mat-spinner>
  </div>

  <div *ngIf="isDataInitialized">
    <div class="city-title-block">
      <div *ngIf="isEditable"
           class="city-title">
        {{cityData.title}}
      </div>
      <div *ngIf="!isEditable">
        <input
          class="city-title-change-input"
          ngDefaultControl
          [(ngModel)]="cityData.title"
          maxlength="255"
          (keydown.enter)="changeCityTitle()"
        >
        <button
          type="button"
          class="btn btn-secondary"
          (click)="changeCityTitle()">
          Apply Changes
        </button>
        <br>
        <p *ngIf="showCityTitleEditErrorMessage" class="empty-title">City title cannot be empty</p>
      </div>
      <br>
      <button
        *ngIf="isEditable"
        type="button"
        class="btn btn-secondary"
        (click)="toggleEdition()">
        Edit City Title
      </button>
    </div>

    <div class="city-image-block">
      <div *ngIf="isUploadedToFileStorage; else location_message">
        <img id="city_image" [src]='cityImage' alt="CityImage"/>
      </div>
      <ng-template #location_message>
        <div >
          <p>Servers are currently under maintenance or experiencing a technical problem. Please try again in a few minutes.</p>
          <a href="{{cityData.imageLocation}}" target="_blank">{{cityData.imageLocation}}</a>
        </div>
      </ng-template>
      <label class="image-upload-container btn btn-bwm">
        <span>If you want to change city image, please </span>
      </label>
      <input #imageInput
             class="upload-btn-block"
             type="file"
             accept="image/png, image/jpg, image/jpeg"
             (change)="processFile(imageInput)">


      <div *ngIf="selectedFile" class="img-preview-container">

        <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
             [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
        </div>

        <div *ngIf="selectedFile.pending" class="img-loading-overlay">
          <div class="img-spinning-circle"></div>
        </div>

        <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Successfully!</div>
        <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
      </div>
      <div *ngIf="showWrongFormatMessage" class="alert alert-danger"> Image Upload Failed! Please check the file type. It must be .png, .jpg or .jpeg</div>
    </div>
    <br>
    <div class="pagination-block">
      <ngb-pagination [collectionSize]="citiesTitles.length * 10"
                      [(page)]="page" [boundaryLinks]="true"
                      [directionLinks]="true"
                      (pageChange)="selectPage(page.toString())">
        <ng-template ngbPaginationPages let-page let-pages="pages">
          <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
            <div class="mb-3 d-flex flex-nowrap px-2">
              <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">City</label>
              <input
                #i
                type="text"
                maxlength="4"
                inputmode="numeric"
                pattern="^([1-9][0-9]{0,2}|1000)$"
                class="form-control custom-pages-input"
                id="paginationInput"
                [value]="page"
                (change)="selectPage(i.value)"
                (input)="formatInput($any($event).target)"
                aria-labelledby="paginationInputLabel paginationDescription"
                style="width: 4.5rem"
              />
              <span id="paginationDescription" class="col-form-label text-nowrap px-2"> of {{pages.length}}</span>
            </div>
          </li>
        </ng-template>
      </ngb-pagination>
    </div>
    <br>
    <p *ngIf="showPageChangeErrorMessage" class="page-change-error">The page number is wrong. Please input the correct one.</p>
    <div class="pagination-change-btn">
      <button
        ngDefaultControl
        type="button"
        class="btn btn-secondary"
        [(ngModel)]="page"
        (click)="selectPage(page.toString())">
        Navigate To Selected Page
      </button>
    </div>

    <div class="search-bar">
      <ng2-completer ngDefaultControl [maxlength]="255" [datasource]="citiesTitles" [minSearchLength]="2" [(ngModel)]="searchData">
      </ng2-completer>
    </div>
    <div class="search-btn">
      <button type="button" class="btn btn-success " (click)="searchCity()">Search</button>

      <p *ngIf="errorMessageVisible">Nothing found. Update your search criteria</p>
      <p *ngIf="infoMessageVisible">Update your search criteria</p>
    </div>
  </div>
</main>
